html {
	height: 3px;
	color: rgb(0, 0, 0);
	/* color:#FAFAFA; */
	text-align: center;
	justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
	background: linear-gradient(-45deg, black, #f20606, #521515, white);
	background-size: 400% 400%;
	animation: gradient 13s ease 
    infinite;
	height: 100vh;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
h2 {
	font-variant-caps: all-small-caps
	/* font-size: 30px; */
}
.intro {
	font-size: 30px;
	font-weight: lighter;
	padding: 10px 0 10px 0;
}
.pic {
	height: 300px; 
	width: 300px; 
	object-fit: cover; 
	border-radius: 50%;
}
.icons {
	color: rgb(13, 13, 15);
	margin-top: 20px;
}
i {
	font-size: 50px;
	margin: 30px;
}
i:hover, a:hover {
	color: #e4e4f0;
}
a {
	color: rgb(43, 43, 78);
    text-decoration: none;
}
.footer {
    margin-top: 100px;
}
audio {
    margin-bottom: -70px
}
 
